
header{
    background-color: rgb(236, 6, 6);
    /* background-image: linear-gradient(to bottom, rgb(236, 6, 6), rgb(250, 186, 186)); */
    font-size: 25px;
    position: static;    
}

body{
  text-align: justify;
}

.nosotros{    
    text-align: justify;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand img{ /*<-----esto es solo el tamaño del logo*/
    width: 120px;
    height: 120px;
}

 .navbar-brand{ /*<-----esto es solo el tamaño de la palabra mass*/
  font-size: 40px;
  font-family: Arial, 'Lucida Sans';
   }
.img-fluid{
  box-shadow: 5px 8px 12px red;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.img-fluid:hover{
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
}



     .containar{
        padding-left: 2px;
        padding-right: 5px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 15px;
        }

       h1{
        color: rgb(22, 6, 253);
        font-size: 65px;
        text-shadow: 2px 2px 0px rgb(46, 156, 247), 5px 8px 12px red;
        
        
      }
      .parra{
        text-shadow: 2px 2px 0px rgb(46, 156, 247), 5px 8px 12px red;
        
      }
        
       #redes {
        color: rgb(1, 63, 252);
        font-size: 25px;
      }
       
       #diseño{
        color: rgb(1, 63, 252);
        font-size: 25px;
      }
       
       #desarrollo{
        color: rgb(1, 63, 252);
        font-size: 25px;
      }

       .col-4{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
        
       }

       #img1{
        
        width:250px;
        height:300px;
        border-radius:150px;
        box-shadow: 5px 8px 12px red;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
       }

       #img2{
        
        width:250px;
        height:300px;
        border-radius:150px;
        box-shadow: 5px 8px 12px red;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
       }

       #img3{
        
        width:250px;
        height:300px;
        border-radius:150px;
        box-shadow: 5px 8px 12px red;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
       }

       .card-img-top{
        box-shadow: 5px 8px 12px red;
       }

       h6{
        text-align: justify;
        font-size: smaller;
        
       }
         #segui {
          align-content: center;
          margin-left: 550px;
         text-align:center;
         font-size: 20px;
          }



       #iconface {
      
        font-size: 30px;
       }

       #icontwit{
        color: blue;
        font-size: 30px;
       }
       #icongoogle{
        color: blue;
        font-size: 30px;
       }
       #iconinsta{
        color: blue;
        font-size: 30px;
       }
       #iconlinke{
        color: blue;
        font-size: 30px;
       }
       
      
      #icongit{
       color: blue;
       font-size: 30px;
      }





#c3{
  filter: brightness(130%);
}

/* comentarios integrantes */

/* *, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.container-comentarios{
  display: flex;
}





.container-comentarios{
  width: 100%;
  display:flex;
  justify-content: center;
  height: 300px;
  /* overflow: hidden; */
  position: relative;
  /* margin:200px auto; */
  border-radius: 10px;
  box-shadow: 5px 8px 12px red;
  cursor: pointer;
  /* transition: all 0.3s ease-in-out; */
  gap: 90px;
}

.contenedor_prueba:hover{
  transform: scale(1.1);
  box-shadow: 13px 15px 37px black;
  border-radius: 15px;
}

/* .container-comentarios img{
  width: 100%;
  height: 100%;
 
} */

.container-comentarios p{
  font-size: 15px;
  /* position: absolute; */
  /* top: 50%;
  left:50%; */
  /* transform:translate(-50%, -50); */
  /* text-shadow: 0 0 8px rgba(0,0,0,0.8); */
  z-index: 2;
  /* padding: 20px; */
  margin: 4px
}

.contenedor_prueba {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 350px;
  height: 250px;
  /* background-color: blue; */
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 8px 12px red;
  padding: 20px;
  border-radius: 2px;
}

.imagen_fondo_cuadrito {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* comentarios intengrantes */