
header{
    background-color: rgb(236, 6, 6);
    /* background-image: linear-gradient(to bottom, rgb(236, 6, 6), rgb(250, 186, 186)); */
    font-size: 25px;
    position: static;    
}

body{
  text-align: justify;
}

.nosotros{    
    text-align: justify;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-brand img{
    width: 80px;
    height: 80px;
    font-size: large;
    font-family: Helvetica;
}
.img-fluid{
  box-shadow: 0 0 10px rgba(236,6, 0.7);
  border-radius: 10px;
}

     .containar{
        padding-left: 2px;
        padding-right: 5px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 15px;
        }

       h5{
        color: rgb(1, 63, 252);
        font-size: 30px;
        text-shadow: 0 0 30px rgb(65, 2, 50);}
        
       #redes {
        color: rgb(1, 63, 252);
        font-size: 20px;
        text-shadow: 0 0 30px rgb(65, 2, 50);
       }
       
       #diseño{
        color: rgb(1, 63, 252);
        font-size: 20px;
        text-shadow: 0 0 30px rgb(65, 2, 50);
       }
       
       #desarrollo{
        color: rgb(1, 63, 252);
        font-size: 20px;
        text-shadow: 0 0 30px rgb(65, 2, 50); 
       }

       .col-4{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-content: center;
        
       }

       #img1{
        
        width:250px;
        height:300px;
        border-radius:150px;
        box-shadow: 0 0 10px rgba(236,6, 0.7);
       }

       #img2{
        
        width:250px;
        height:300px;
        border-radius:150px;
        box-shadow: 0 0 10px rgba(236,6, 0.7);
       }

       #img3{
        
        width:250px;
        height:300px;
        border-radius:150px;
        box-shadow: 0 0 10px rgba(236,6, 0.7);
       }

       .card-img-top{
        box-shadow: 0 0 10px rgba(236,6, 0.7);
       }


         #segui {
          align-content: center;
          margin-left: 550px;
         text-align:center;
         font-size: 20px;
          }



       #iconface {
      
        font-size: 30px;
       }

       #icontwit{
        color: blue;
        font-size: 30px;
       }
       #icongoogle{
        color: blue;
        font-size: 30px;
       }
       #iconinsta{
        color: blue;
        font-size: 30px;
       }
       #iconlinke{
        color: blue;
        font-size: 30px;
       }
       
      
      #icongit{
       color: blue;
       font-size: 30px;
      }



      .form-label{
      
      }