#contenedor_transicion_clima{
  background-image: linear-gradient(  rgb(236, 6, 6), rgb(190, 187, 187));
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-inline-start: 10%;
  padding-bottom: 30px;
  }


#boton{
  width: 200px;
  height: 40px;
  /* bottom: 5px; */
  border-radius: 30px;
  /* padding: 8px 20px; Añadimos un padding para dar espacio al contenido del botón */
  text-align: start; /* Centramos el texto en el botón */
  display: inline-block; /* Hacemos que el botón sea un bloque en línea */
  font-size: 20px; /* Tamaño de fuente del texto */
  cursor: pointer; /* Cambiamos el cursor al pasar el ratón por encima del botón */
  box-shadow: 02px 8px 8px 02px rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Añadimos el relieve al botón con la propiedad box-shadow */
position: relative; 
overflow: hidden;
}
.texto_dentro_boton{
  z-index: 4;
  position: relative;
  text-size-adjust: 12px;
  font-weight: 900px;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(6, 7, 0);
  text-shadow:2px 2px 0px rgb(238, 220, 220), 3px 3px 0px black;
}

#fondo_clima_boton{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 0;
}

.clima_imput{
  width: 210px;
  height: 40px;
  margin-right: 10px;
  }

.clima_imagen_preview{
  height: 100px;
  width: 100px;
  display: none;
}

#city{
  border-color: rgb(170, 39, 39);
  box-shadow: inset 4px 4px 6px rgb(68, 7, 7), inset -4px -4px 6px #7a8073;
  border-radius: 30px;
  padding: 8px 20px;
  text-align: center;
  font-size:20px;       
}

#weather{
  font-size: larger;
  font-style: oblique;
}

#clima-contenedor{
  display: flex;
  align-items: center;
  
}

