#clim{
  background-image: linear-gradient(  rgb(236, 6, 6), rgb(190, 187, 187));
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
 }

#clima{
  background-color: blueviolet;
  border-right: px;
  ;
}















/* .clim{
display: flex;
flex-direction: column;
max-width: 400px;
margin: 0 left;
padding: 20px;
border: 2px solid #09db1b;
border-radius: 5px;
}

label{
  font-weight: bold;
  margin-bottom: 5px;
}

input, text{
padding: 5px;
margin-bottom: 10px;
border: 1px solid #f50202;
border-radius: 5px;
font-size: 16px;
}

input[type="submit"]{
background-color: blue;
color: rosybrown;
padding:10px 20px;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: poiter;
}

input[type="submit"]:hover{
  background-color: green;
}
} */
